# Folders
.vscode
node_modules
dist
logs
data
ssl
config

# Files
scan-checkpoint.json
package-lock.json
nodemon.json
server.ts
tsconfig.json
changelog.md
todo.md
roadmap.md
config.d.ts
lang.d.ts

# Extensions
*.env
*.log
*.db
*.sqlite
*.idea
*.ini
*.lnk