# Folders
.vscode
node_modules
dist
logs
data
ssl
/config/

# Files
scan-checkpoint.json
package-lock.json
nodemon.json
server.ts
tsconfig.json
changelog.diff
notes.md
todo.md

# Extensions
*.env
*.log
*.db
*.sqlite
*.idea
*.ini
*.lnk