# Folders
.vscode
node_modules
dist
logs
data
backups
ssl/*
dev

# Files
package-lock.json
app.config.ts
changelog.md
eslint.config.js
roadmap.md
todo.md
tsconfig.json
main.test.ts
TO_FIX_getEnv.ts

# Extensions
*.env
!*.env.example
*.log
*.db
*.sqlite
*.idea
*.ini
*.lnk
*.crt
*.key
!*.crt.example
!*.key.example